<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Figure Eight Lead Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
    <h1>
      Figure Eight Lead Generator
      </h1>
    </div>
    <div class="container">
      <h3>Click to get a new lead</h3>
      <a href="/new" class="ghost-button">Next Lead</a>
    </div>
  </body>
</html>
