<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Figure Eight Lead Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body> 
    <div class="container">
      <h1>
        Figure Eight Lead Generator
      </h1>
    </div>
    <div class="container">
        <div class="gif">
          <img src="<%= imgurl %>">
        </div>
        <h2>Your lead is...</h2>
        <p><%= row.company %></p>
        <a href="/new?page=<%= nextpage %>" class="ghost-button">Next Lead</a>
       
    </div>
  </body>
</html>